<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="main.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/bootstrap.css' %}">
<style>

    * {
        padding: 0px;
        margin: 0px;
        /* outline: 1px solid red; */
    }

    .main {
        display: inline-block;
        width: 600px;
    }

    .side {
        display: inline-block;
        width: 500px;
        vertical-align: top;
    }

    .error {
        color: red
    }



</style>



</head>
<body>
    <div class="col-lg-6">
        <h1>Login and Registration</h1>
        <h3>Register Here!</h3>

    </div>
    <div class="form-control lcontain">
        <div class='main'>
            <form class="form-horizontal" action='create' method="post">
                {% csrf_token %}
        
                <label for='inputName' class='col-lg-6 '><u><strong>First Name</strong></u></label>
                    {% for i in first_name_e %}
                    <span class="error"> {{ i }}</span>
                    {% endfor %}
                
                <div class='col-lg-6'>
                <input type='text' name='fname' class='form-control' placeholder='First Name' value="">
                </div>
                <label for='inputName' class='col-lg-6 '><u><strong>Last Name</strong></u></label>
                    {% for i in last_name_e %}
                    <span class="error"> {{ i }}</span>
                    {% endfor %}
                
           
         
                <div class='col-lg-6'>
                    <input type='text' name='lname' class='form-control' placeholder='Last Name' value="">
                </div>
                <label for='inputEmail' class='col-lg-6 '><u><strong>Email</strong></u> </label>                    
                    {% for i in email_e %}
                    <span class="error"> {{ i }}</span>
                    {% endfor %}
                <div class='col-lg-6'>
                    <input type='text' name='email' class='form-control' placeholder='Email' value="">
                </div>
                <label for='password' class='col-lg-6 '><u><strong>Password</strong></u></label>
                    {% for i in pass_e %}
                    <span class="error"> {{ i }}</span>
                    {% endfor %}
                <div class='col-lg-6'>
                    <input type='password' name='pass' class='form-control' placeholder='Password' value="">
                </div>
                <label for='password' class='col-lg-6 '><u><strong>Confirm Password</strong></u></label>
                    {% for i in confirm_e %}
                    <span class="error"> {{ i }}</span>
                    {% endfor %}
                <div class='col-lg-6'>
                    <input type='password' name='confirm' class='form-control' placeholder='Confirm Password' value="">
                </div>
                <input class="btn btn-default" type="submit" value="Submit">
            </form>
        </div>
        <div class='side'>
            <h3> Login Here!</h3>
            <form class='form-horizontal' action='success' method="post">
                {% csrf_token %}
                <label for='inputEmail' class='col-lg-6 '><u><strong>Email</strong></u> </label>       
                {% if messages %}
                {% for msg in messages %}
                {% if msg.tags %}
                <span class={{ msg.tags }}>{{ msg }}</span>
                {% endif %}
                {% endfor %}
                {% endif %}
                <div class='col-lg-8'>
                    <input type='text' name='boob' class='form-control' placeholder='Email' value="">
                </div>
                <label for='password' class='col-lg-6 '><u><strong>Password</strong></u></label>

                <div class='col-lg-8'>
                    <input type='password' name='chick' class='form-control' placeholder='Password' value="">
                </div>
                <input class="btn btn-default" type="submit" value="Submit">
            </form>
        </div>

    </div>
</body>
</html>
